<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>DMM.Box admin styleguide: Breadcrumbs</title>
        <link rel="stylesheet" href="styleguide_css/template.css">
        <link rel="stylesheet" href="../../app/public/css/common.css">
        <script src="../../app/public/js/lib.js"></script>
        <script src="../../app/public/js/all.min.js"></script>
    </head>
    <body class="styleguide-body">
        <header class="styleguide-header">
            <h1>DMM.Box admin styleguide</h1>
            <nav>
                <ul>
                
                    <li><a href="collapse.html">Collapse</a></li>
                
                    <li><a href="breadcrumbs.html">Breadcrumbs</a></li>
                
                    <li><a href="button.html">Button</a></li>
                
                    <li><a href="dropdown.html">Dropdown</a></li>
                
                    <li><a href="form.html">Form</a></li>
                
                    <li><a href="modals.html">Modals</a></li>
                
                </ul>
            </nav>
        </header>
        <div class="styleguide-main">
            <ul>
            
                <li><a href="#Breadcrumbs">Breadcrumbs</a></li>
            
            </ul>
        <section class="content">
<h1 id="Breadcrumbs" class="styleguide">Breadcrumbs</h1>
<p class="styleguide">パンくずのスタイル。</p><div class="codeExample">
  <div class="exampleOutput">
    <div class="breadcrumb">
    <li><a href="#">a</a></li>
    <li><a href="#">b</a></li>
    <li><a href="#">c</a></li>
    <li><a href="#">d</a></li>
    <li>e</li>
</div>

  </div>
  <div class="codeBlock">
    <div class="highlight">
      <pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"breadcrumb"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>a<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
    <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>b<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
    <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>c<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
    <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>d<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
    <span class="nt">&lt;li&gt;</span>e<span class="nt">&lt;/li&gt;</span>
<span class="nt">&lt;/div&gt;</span></pre>
    </div>
  </div>
</div>
      </section>
      <footer>
      </footer>
    </div>
  </body>
</html>
