<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>DMM.Box admin styleguide: Button</title>
        <link rel="stylesheet" href="styleguide_css/template.css">
        <link rel="stylesheet" href="../../app/public/css/common.css">
        <script src="../../app/public/js/lib.js"></script>
        <script src="../../app/public/js/all.min.js"></script>
    </head>
    <body class="styleguide-body">
        <header class="styleguide-header">
            <h1>DMM.Box admin styleguide</h1>
            <nav>
                <ul>
                
                    <li><a href="collapse.html">Collapse</a></li>
                
                    <li><a href="breadcrumbs.html">Breadcrumbs</a></li>
                
                    <li><a href="button.html">Button</a></li>
                
                    <li><a href="dropdown.html">Dropdown</a></li>
                
                    <li><a href="form.html">Form</a></li>
                
                </ul>
            </nav>
        </header>
        <div class="styleguide-main">
            <ul>
            
                <li><a href="#Button_Color">Button Color</a></li>
            
                <li><a href="#Button_Size">Button Size</a></li>
            
            </ul>
        <section class="content">
<h1 id="Button_Color" class="styleguide">Button Color</h1>
<p class="styleguide">ボタンのスタイル。</p><div class="codeExample">
  <div class="exampleOutput">
        <button class="btn btn-default" href="#">デフォルトボタン</button>
    <button class="btn btn-register" href="#">登録ボタン</button>
    <button class="btn btn-delete" href="#">削除ボタン</button>
    <button class="btn btn-edit" href="#">編集ボタン</button>
    <button class="btn btn-next" href="#">次へボタン</button>
    <button class="btn btn-back" href="#">戻るボタン</button>
    <button class="btn btn-cancel" href="#">キャンセルボタン</button>

  </div>
  <div class="codeBlock">
    <div class="highlight">
      <pre><span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-default"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>デフォルトボタン<span class="nt">&lt;/button&gt;</span>
    <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-register"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>登録ボタン<span class="nt">&lt;/button&gt;</span>
    <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-delete"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>削除ボタン<span class="nt">&lt;/button&gt;</span>
    <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-edit"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>編集ボタン<span class="nt">&lt;/button&gt;</span>
    <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-next"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>次へボタン<span class="nt">&lt;/button&gt;</span>
    <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-back"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>戻るボタン<span class="nt">&lt;/button&gt;</span>
    <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-cancel"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>キャンセルボタン<span class="nt">&lt;/button&gt;</span></pre>
    </div>
  </div>
</div>

<h1 id="Button_Size" class="styleguide">Button Size</h1>
<p class="styleguide">ボタンのサイズ。</p><div class="codeExample">
  <div class="exampleOutput">
        <button class="btn btn-default btn-middle" href="#">ミドルサイズボタン</button>
    <button class="btn btn-register btn-middle" href="#">ミドルサイズボタン</button>

  </div>
  <div class="codeBlock">
    <div class="highlight">
      <pre><span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-default btn-middle"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>ミドルサイズボタン<span class="nt">&lt;/button&gt;</span>
    <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-register btn-middle"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>ミドルサイズボタン<span class="nt">&lt;/button&gt;</span></pre>
    </div>
  </div>
</div>
      </section>
      <footer>
      </footer>
    </div>
  </body>
</html>
