<% var title = "イベント管理 DMM.Event"; %>
<% include common/_head %>
<% include common/_header %>
            
 
            <!-- start contents -->
            <div class="contents">
                <div class="contents_inner">
                    <div class="main">
                        <% include common/_header-main %>
                        <div class="main-body">
                        <form>
                        <section class="formbox">
                           <label class="label-a" for="serch"><h2 class="heading-a">キーワード検索</h2></label>
                           <div class="formbox-body">
                             <input class="input-a" type="serch" name="serch" value="" placeholder="検索キーワードを入力">
                             <select name="menu-serch" class="select-a u_ml15 u_mr15">
                                 <option value="">イベント検索</option>
                                 <option value="">イベント検索２</option>
                             </select>
                             <button type="" class="btn btn-default">検索</button>
                           </div>
                        </section>

                        <section class="formbox">
                           <label class="label-a" for="serch"><h2 class="heading-a">ID検索</h2></label>
                           <div class="formbox-body">
                             <input class="input-a" type="serch" name="serch" value="" placeholder="検索IDを入力">
                             <select name="menu-serch" class="select-a u_ml15 u_mr15">
                                 <option value="">イベント検索</option>
                                 <option value="">イベント検索２</option>
                             </select>
                             <button type="" class="btn btn-default">検索</button>
                           </div>
                        </section>

                        </form>

                        <section class="formbox">
                           <label class="label-a" for="serch"><h2 class="heading-a">新規登録</h2></label>
                           <div class="formbox-body">
                             <ul class="list-a">
                                <li><span>クライアント登録</span><a href="register-client.html" class="btn btn-default">登録</a></li>
                                <li><span>会場登録</span><a href="register-place.html" class="btn btn-default">登録</a></li>
                                <li><span>イベント登録</span><a href="register-event.html" class="btn btn-default">登録</a></li>
                                <li><span>イベントグループ登録</span><a href="#" class="btn btn-default">登録</a></li>
                             </ul>
                           </div>
                        </section>
                        </div>
                        </div>
                    </div>
                    
            <!-- end contents -->
 
<% include common/_footer %>
<% include common/_script %>