<% var title = "口座情報登録 - クライアント登録 - イベント管理 - DMM.Event"; %>
<% include common/_head %>
<% include common/_header %>
            
 
            <!-- start contents -->
            <div class="contents">
                <div class="contents_inner">
                    <div class="main">                 
                        <h1 class="heading-b">口座情報登録</h1>
                        <ol class="breadcrumb">
                          <li><a href="index.html">イベント管理</a></li>
                          <li><a href="register-client.html">クライアント登録</a></li>
                          <li class="active">口座情報登録</li>
                        </ol>
                        <div class="main-body u_pb60">
                            <form>
                             <table class="table table-a">
                              <tbody>
                                 <tr><th>銀行名</th><td class="u_pt20"><input class="input-a width-100" type="text" name="clientname"></td></tr>
                                 <tr><th>支店名</th><td><input class="input-a" type="text" name="adress"></td></tr>
                                 <tr><th>口座番号</th><td><input class="input-a width-100" type="number" name="tell"></td></tr>
                                 <tfoot>
                                     <tr><td colspan="2"><a class="btn btn-register btn-middle" href="#">クライアントを登録する</a></td></tr>
                                 </tfoot>
                              </tbody>
                             </table>
                             
                            </form>                       
                        </div>
                    </div>
                </div>
           </div>
                    
            <!-- end contents -->
 
<% include common/_footer %>
<% include common/_script %>