<% var title = "test"; %>
<% include common/_head %>
<% include common/_header %>
            
 
            <!-- start contents -->
            <div class="contents">
                <div class="contents_inner">
                    <div class="main">
                        <% include common/_header-main %>
                    </div>
                    
                </div>
            </div>
            <!-- end contents -->
 
<% include common/_footer %>
<% include common/_script %>