*{
	box-sizing: border-box;
}
html{
	font-size: 62.5%;
  min-height: 100%;
}
body {
	font-size: 14px;
	line-height: 1;
  line-height: 1.42857143;
}
.wrapper{
  width: 100%;
  padding:2rem;
}
a{
	text-decoration:none;
	color: $link-color;
	&:hover{
		text-decoration:underline;
    color: darken($link-color,15%);
	}
}
p {
  margin: 0 0 10px;
}