
@mixin util($multiple,$start:0,$end:12){
	@if $multiple == def {
		@for $i from 0 through 12 {
			.u_mt#{$i * 5} { margin-top: 5px * $i !important; }
			.u_mr#{$i * 5} { margin-right: 5px * $i !important; }
			.u_mb#{$i * 5} { margin-bottom: 5px * $i !important; }
			.u_ml#{$i * 5} { margin-left: 5px * $i !important; }
			.u_pt#{$i * 5} { padding-top: 5px * $i !important; }
			.u_pr#{$i * 5} { padding-right: 5px * $i !important; }
			.u_pb#{$i * 5} { padding-bottom: 5px * $i !important; }
			.u_pl#{$i * 5} { padding-left: 5px * $i !important; }
		}
	}
}

@include util(def);

//Floats
.clearfix {
  @include clearfix;
}
.center-block {
  @include center-block;
}
.pull-right{
	float:right !important;
}
.pull-left{
	float:left !important;
}
