        <footer class="footer">
            <div class="footer_inner">
                <small>Copyright © since 1998 DMM All Rights Reserved.</small>
            </div>
        </footer>
    </div>
<!-- end wrapper -->
    <script src="js/lib.js"></script>
    <script src="js/all.min.js"></script>
    </body>
</html>