<header class="main-header">
	<nav>
		<ul class="main-nav">
			<li class="active"><a href="./">イベント</a></li>
			<li><a href="user.html">ユーザー</a></li>
			<li><a href="#">通知</a></li>
			<li><a href="#">監視</a></li>
			<li><a href="#">経理</a></li>
		</ul>
	</nav>
</header>