<header class="main-header">
	<nav>
		<ul class="main-nav">
			<li class="active"><span class="iconBlock mf−arrowUp"></span><a href="./">イベント</a></li>
			<li><span class="iconBlock mf−arrowDown"></span><a href="user.html">ユーザー</a></li>
			<li><span class="iconBlock mf−arrowLeft"></span><a href="#">通知</a></li>
			<li><span class="iconBlock mf−arrowRight"></span><a href="#">監視</a></li>
			<li><span class="iconBlock mf−refresh"></span><a href="#">経理</a></li>
		</ul>
	</nav>
</header>