/*doc
---
title: Form
category: Form
---

フォームのスタイル。

```html_example
<form class="formbox">
    <div class="form-body">
       <label>Email address</label>
       <input type="mail" class="input-a" placeholder="Email">
    </div>
    <div class="form-body">
       <label>Password</label>
       <input type="text" class="input-a" placeholder="Password">
    </div>
    <div class="form-body">
       <label>ファイル選択</label>
       <input type="file">
    </div>
    <div class="checkbox-body">
      <label>
        <input type="checkbox"> Check me out
      </label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
```

*/
// Normalize non-controls
//
// Restyle and baseline non-control form elements.
label {
  display: inline-block;
  max-width: 100%; // Force IE8 to wrap long content (see https://github.com/twbs/bootstrap/issues/13141)
  margin-bottom: 5px;
  font-weight: bold;
}

.formbox{
	padding:1rem;
}
.form-body{
  margin-bottom: 15px;
}



.input-a{
	width:100%;
	@include rem(16);
	border-radius: 4px;
	border: 1px solid #ccc;
	padding: .6rem 1rem;
	vertical-align: middle;
}
.textarea-a{
  @extend .input-a;
	resize:vertical;
}
.select-a{
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-indent: 1em;
    background:$color-a url(../img/icon/pulldown.png) no-repeat;
    background-size:20px auto;
    background-position: 98% center;
    width:30%;
    height: 38px;
    line-height: 38px;
    font-size: 15px;
    vertical-align: middle;
    border:1px solid #CCC;
}
.width-100{
	width:100%;
}

//checkbox
.checkbox-body{
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
	label{
		width: 19%;
		display: inline-block;
		line-height: 1.5;
		input{
			  margin-right: .5rem;
		}
	}
}

input[type=file] {
  display: block;
}


/*doc
---
title: Form-inline
category: Form
---

フォームインラインのスタイル。

```html_example
<form class="form-inline">
    <div class="form-body">
       <label>Email address</label>
       <input type="mail" class="input-a form-control" placeholder="Email">
    </div>
    <div class="form-body">
       <label>Password</label>
       <input type="text" class="input-a form-control" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
```

*/
.form-inline{
  .form-body{
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}